/* RESET */
.video-section {
  padding: 80px 20px;
  text-align: center;
}

/* 2 ta video container */
.video {
  display: flex;
  justify-content: center;
  gap: 10px; /* 👈 10px oraliq */
  flex-wrap: wrap;
  margin-top: 30px;
}

/* har ikkisi bir xil */
.video-box {
  width: 420px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0,0,0,0.4);
  background: #111827;
  transition: 0.3s;
}

/* hover */
.video-box:hover {
  transform: translateY(-5px);
}

/* video */
.video-box video {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}

/* 📱 MOBILE */
@media (max-width: 900px) {
  .video-box {
    width: 100%;
  }

  .video-box video {
    height: 220px;
  }
}
